# All settings:
# https://hub.docker.com/_/sentry/

# make it 32 characters or longer
SENTRY_SECRET_KEY=JLDSHKJGfitoy8uipj43m

# if we handle HTTPS outside the docker-compose installation
SENTRY_USE_SSL=false


# Classic email configuration
SENTRY_EMAIL_HOST=mail.example.com
SENTRY_EMAIL_PASSWORD=eeee
SENTRY_EMAIL_PORT=587
SENTRY_EMAIL_USER=notifyooo
SENTRY_EMAIL_USE_TLS=true
SENTRY_SERVER_EMAIL=sentry@clientdomain.org

# If you use mailgun
# SENTRY_MAILGUN_API_KEY=.....


SENTRY_REDIS_HOST=redis
SENTRY_POSTGRES_HOST=postgres
